{% extends "header.html" %}
{% block title %}Career Records{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2021"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}

<br>
<div class="row">
    <div class="col-lg-2">
        <label for="sort_list">Choose stat:</label><br>
        <select name="stat" id="sort_list" onchange="window.location = '/records/{{ type }}/career/{{ org }}/{{ lg }}?stat='+this.options[this.selectedIndex].value;">
            {% for col in df2 %}
            {% if col not in ['PID', 'Org', 'League', 'Team', 'Year', 'First', 'Last'] %}
            <option value="{{ col }}">{{ col }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <p>
            <br>Organization: <font color="red">{{ org }}</font>
            <br>League: <font color="red">{{ lg }}</font>
        </p>
        <p class="text-muted">
            {% if type=='hitting' %}
                {{ qual }} PA required to qualify for rate stats
            {% else %}
                {{ qual }} Outs required to qualify for rate stats
            {% endif %}
        </p>
        <p class="text-muted">
            {% if type=='hitting' %}
            <a href="/records/hitting/career/{{ org }}/{{ lg }}?stat={{ stat }}&qual=250">250 PA to qualify</a>
            {% else %}
            <a href="/records/pitching/career/{{ org }}/{{ lg }}?stat={{ stat }}&qual=300">300 Outs to qualify</a>
            {% endif %}
        </p>
    </div>
    <div class="col-lg-8">
        {% if type=='hitting' %}
            <table class='table table-hover w-75' id='df_table' style="margin:auto;">
                <tr>
                    <th>Rank</th>
                    <th align='left'>Player</th>
                    <th align="left">Team</th>
                    <th>{{ stat }}</th>
                    <th>PA</th>
                </tr>
                    {% for key,val in df2.iterrows() %}
                    <tr>
                        <td align="center">{{ loop.index }}</td>
                        <td><a href="/player/{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</a></td>
                        <td><a href="/stats/hitting/{{ org }}/{{ lg }}/{{ val['Team'] }}/{{ recent_year }}">{{ val['Team'] }}</a></td>
                        <td align="center">{{ val['stat'] }}</td>
                        <td align="center">{{ val['PA'] }}</td>
                    </tr>
                    {% endfor %}
            </table>
        {% else %}
            <table class='table table-hover w-75' id='df_table' style="margin:auto;">
                <tr>
                    <th>Rank</th>
                    <th align='left'>Player</th>
                    <th align="left">Team</th>
                    <th>{{ stat }}</th>
                    <th>IP</th>
                </tr>
                    {% for key,val in df2.iterrows() %}
                    <tr>
                        <td align="center">{{ loop.index }}</td>
                        <td><a href="/player/{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</a></td>
                        <td><a href="/stats/pitching/{{ org }}/{{ lg }}/{{ val['Team'] }}/{{ recent_year }}">{{ val['Team'] }}</a></td>
                        <td align="center">{{ val['stat'] }}</td>
                        <td align="center">{{ val['IP'] }}</td>
                    </tr>
                    {% endfor %}
            </table>
        {% endif %}
    </div>
    <div class="col-lg-2"></div>
</div>
<br>

<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var c = url.searchParams.get("stat");
    $('#sort_list').val(c); 
    $("#records_nav").addClass('active')
</script>

{% endblock %}