{% extends "header.html" %}
{% block title %}Career Records{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2019"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}

<br>
<div class="row">
    <div class="col-lg-2">
        <label for="sort_list">Choose stat:</label><br>
        <select name="stat" id="sort_list" onchange="window.location = '/records/{{ type }}/career/{{ org }}/{{ lg }}?stat='+this.options[this.selectedIndex].value;">
            {% for col in df2 %}
            {% if col not in ['PID', 'Org', 'League', 'Team', 'Year', 'First', 'Last'] %}
            <option value="{{ col }}">{{ col }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <p>
            <br>Organization: <font color="red">{{ org }}</font>
            <br>League: <font color="red">{{ lg }}</font>
        </p>
        <p class="text-muted">
            {{ qual }} PA required to qualify for rate stats
        </p>
        <p class="text-muted">
            <a href="/records/career/season/{{ org }}/{{ lg }}?stat={{ stat }}&qual=150">150 PA to qualify</a>
        </p>
    </div>
    <div class="col-lg-8">
        <table class='table table-hover w-75' id='df_table' style="margin:auto;">
            <tr>
                <th>Rank</th>
                <th align='left'>Player</th>
                <th align="left">Team</th>
                <th>{{ stat }}</th>
                <th>PA</th>
            </tr>
                {% for key,val in df2.iterrows() %}
                <tr>
                    <td align="center">{{ loop.index }}</td>
                    <td><a href="/player/{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</a></td>
                    <td><a href="/stats/hitting/{{ org }}/{{ lg }}/{{ val['Team'] }}/{{ val['Year'] }}">{{ val['Team'] }}</a></td>
                    <td align="center">{{ val['stat'] }}</td>
                    <td align="center">{{ val['PA'] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>

<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var c = url.searchParams.get("stat");
    $('#sort_list').val(c); 
</script>

{% endblock %}