{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block logo %}"/static/images/mabl-logo.png"{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2019"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}
<br />
<h3>Playoff And Regular Season Champions</h3>
<table>
{% for key, val in champs.iterrows() %}
<tr><td>{{ val['Year'] }}</td><td>{{ val['Playoffs'] }}</td><td>{{ val['Season'] }}</td><td><img src="/static/images/team_logos/athletics.jpg" height="75" width="75"></td></tr>
{% endfor %}
</table>

{% endblock %}

