{% extends "header.html" %}
{% block title %}Champions{% endblock %}
{% block logo %}"/static/images/mabl-logo.png"{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2019"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <br><h1>Playoff And Regular Season Champions</h1>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <table class="table table-hover">
            <thead>
                <th style="border-right: 1px solid black;">Year</th>
                <th style="border-right: 1px solid black;">Champion</th>
                <th>Regular Season Winner</th>
            </thead>
            {% for key, val in champs.iterrows() %}
            <tr>
                <td style="border-right: 1px solid black;"><a href="/{{ org }}/{{ lg }}">{{ val['Year'] }}</a></td>
                <td style="border-right: 1px solid black;"><a href="/stats/hitting/{{ org }}/{{ lg }}/{{ val['Playoffs'] }}/{{ val['Year'] }}">
                    <img src="/static/images/team_logos/{{ logos[org][lg][val['Playoffs']] }}" height="75" width="75" alt="{{ val['Playoffs'] }}"></a>
                </td>
                <td><a href="/stats/hitting/{{ org }}/{{ lg }}/{{ val['Season'] }}/{{ val['Year'] }}">
                    <img src="/static/images/team_logos/{{ logos[org][lg][val['Season']] }}" height="75" width="75" alt="{{ val['Season'] }}"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>



{% endblock %}

