{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block logo %}"/static/images/mabl-logo.png"{% endblock %}
{% block lg_stats %}"/{{ org }}/{{ lg }}/league/2019"{% endblock %}
{% block content %}
<br />
<h3>Playoff And Regular Season Champions</h3>
<table>
{% for key, val in champs.iterrows() %}
<tr><td>{{ val['Year'] }}</td><td>{{ val['Playoffs'] }}</td><td>{{ val['Season'] }}</td><td><img src="/static/images/team_logos/athletics.jpg" height="75" width="75"></td></tr>
{% endfor %}
</table>

{% endblock %}

