{% extends "header.html" %}
{% block title %}Image Gallery{% endblock %}
{% block content %}
<style>
     /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  width: 100px;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row_css:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 1px;
  right: 30px;
  color: white;
  font-size: 35px;
  cursor: pointer;
} 
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
</style>
<script>
    function myFunction(imgs) {
        // Get the expanded image
        var expandImg = document.getElementById("expandedImg");
        // Get the image text
        var imgText = document.getElementById("imgtext");
        // Use the same src in the expanded image as the image being clicked on from the grid
        expandImg.src = imgs.src;
        // Use the value of the alt attribute of the clickable image as text inside the expanded image
        imgText.innerHTML = imgs.alt;
        // Show the container element (hidden with CSS)
        expandImg.parentElement.style.display = "block";
    }
</script>

{% if len>0 %}
 <!-- The grid: four columns -->
<div class="row">
    <div class='col-lg-12'>
        <div style="overflow:auto;">
            <table class='table'>
                <tr>
                    {% for img in img_list %}
                        <td><img src="/static/images/{{ org }}/{{ lg }}/{{ tm }}/{{ img }}" width="100%" onclick="myFunction(this);"></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- The expanding image container -->
        <div class="container">
            <!-- Close the image -->
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  
            <!-- Expanded image -->
            <img id="expandedImg" style="width:100%">
            
            <!-- Image text -->
            <div id="imgtext">dfhd</div>
        </div> 
    </div>
</div>
{% else %}
  <br><h3>No images to display</h3>
{% endif %}
{% endblock %}