<html>
  <head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet">
    <title>Rockers Baseball - {% block title %}{% endblock %}</title>
	<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="/static/sort-table.js"></script>
  </head>
<body>
	<div id="main">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/home">Home
						<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Standings</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href={% block standings %}{% endblock %}>Season Standings</a>
							<a class="dropdown-item" href={% block champions %}{% endblock %}>Champions</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/player/">Players</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stats</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/stats/hitting/{% block hitting_stats %}{% endblock %}">Hitting</a>
							<a class="dropdown-item" href="/stats/pitching/{% block pitching_stats %}{% endblock %}">Pitching</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Records</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/records/hitting/season/{% block h_records_season %}{% endblock %}">Hitting (Season)</a>
							<a class="dropdown-item" href="/records/hitting/career/{% block h_records_career %}{% endblock %}">Hitting (Career)</a>
							<a class="dropdown-item" href="/records/pitching/season/{% block p_records_season %}{% endblock %}">Pitching (Season)</a>
							<a class="dropdown-item" href="/records/pitching/career/{% block p_records_career %}{% endblock %}">Pitching (Career)</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>		
		{% block content %}{% endblock %}
	</div>
</body>
</html>