<html>
  <head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Rockers Baseball - {% block title %}{% endblock %}</title>
	<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
<body>
	<div id="main">
		<img id="header-logo" src={% block logo %}{% endblock %}>
		<ul>
				<li class="dropdown"><a href="/home">Home</a></li>
				<li class="dropdown">
					<a href="javascript:void(0)" class="dropbtn">Organization</a>
					<div class="dropdown-content">
						<a href="/MABL">MABL</a>
						<a href="/RRL">RRL</a>
						<a href="/MSCR">MSCR</a>
					</div>
				</li>
				<li class="dropdown">
					<a class="drobtn">Standings</a>
					<div class="dropdown-content">
						<a href={% block standings %}{% endblock %}>Season Standings</a>
						<a href={% block champions %}{% endblock %}>Champions</a>
					</div>
				</li>
				<li class="dropdown">
					<a href="" class="dropbtn">Stats</a>
					<div class="dropdown-content">
						<a href="/player/">Players</a>
						<a href={% block tm_stats %}{% endblock %}>Team</a>
						<a href={% block lg_stats %}{% endblock %}>League</a>
					</div>
				</li>
				<li class='dropdown'>
					<a href="" class="dropbtn">Records</a>
					<div class="dropdown-content">
						<a href="/records/season/MABL/18+/">Season</a>
						<a href="/records/career/MABL/18+/">Career</a>
					</div>
				</li>
			</ul>
		
		{% block content %}{% endblock %}
	</div>
</body>
</html>