<html>
  <head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Rockers Baseball - {% block title %}{% endblock %}</title>
	<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/sort-table.js"></script>
	<script src="/static/filter-table.js"></script>
  </head>
<body>
	<div id="main">
		<img id="header-logo" src={% block logo %}{% endblock %}>
		<ul id="header_list">
				<li class="dropdown">
					<a class="dropbtn">Organization</a>
					<div class="dropdown-content">
						<a href="/MABL">MABL</a>
						<a href="/RRL">RRL</a>
						<a href="/MSCR">MSCR</a>
					</div>
				</li>
				<li class="dropdown">
					<a class="dropbtn">Standings</a>
					<div class="dropdown-content">
						<a href={% block standings %}{% endblock %}>Season Standings</a>
						<a href={% block champions %}{% endblock %}>Champions</a>
					</div>
				</li>
				<li class="dropdown">
					<a class="dropbtn">Stats</a>
					<div class="dropdown-content">
						<a href="/player/">Players</a>
						<a href="/stats/hitting/{% block hitting_stats %}{% endblock %}">Hitting</a>
						<a href="/stats/pitching/{% block pitching_stats %}{% endblock %}">Pitching</a>
					</div>
				</li>
				<li class='dropdown'>
					<a class="dropbtn">Records</a>
					<div class="dropdown-content">
						<a href="/records/hitting/season/{% block h_records_season %}{% endblock %}">Hitting (Season)</a>
						<a href="/records/hitting/career/{% block h_records_career %}{% endblock %}">Hitting (Career)</a>
						<a href="/records/pitching/season/{% block p_records_season %}{% endblock %}">Pitching (Season)</a>
						<a href="/records/pitching/career/{% block p_records_career %}{% endblock %}">Pitching (Career)</a>
					</div>
				</li>
			</ul>
		
		{% block content %}{% endblock %}
	</div>
</body>
</html>