{% extends "header.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class='row'>
    {% for i, row in lgs.iterrows() %}
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ row['Org'] }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Organization</h6>
                {% if row['Org'] == 'MABL' %}
                <img src="static/images/mabl-logo.png" width="200" height="160">
                {% elif row['Org'] == 'MSCR' %}
                <img src="static/images/mscr_logo.jpg" width="200" height="160">
                {% elif row['Org'] == 'RRL' %}
                <img src="static/images/rrl_logo.png" width="200" height="160">
                {% endif %}
                <p class="card-text"><br>Choose from available leagues</p>
                {% for lg in row['League'] %}
                    <a href="/{{ row['Org'] }}/{{ lg }}" class="card-link">{{ lg }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
<br>