{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}

{% block lg_stats %}"/{{ org }}/{{ lg }}/league/2019"{% endblock %}
{% block content %}
<a href="../{{ org }}">{{ org }}</a> > {{ lg }}
<br /><br />
<a href="/{{ org }}/{{ lg }}/champions/">List of Champions</a>
<br /><br>
Teams<br>
{% for tm in tms %}
<a href="/{{ org }}/{{ lg }}/{{ tm }}">{{ tm }}</a><br>
{% endfor %}
<br>
<a href="/{{ org }}/{{ lg }}/league/{{ maxYear }}">League Stats</a>
<br>
<a href="/standings/{{ org }}/{{ lg }}/{{ maxYear }}">League Standings</a>
{% endblock %}

