{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ maxYear }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block tm_stats %}"/{{ org }}/{{ lg }}/Athletics/{{ maxYear }}"{% endblock %}
{% block lg_stats %}"../stats/hitting/team/{{ org }}/{{ lg }}/{{ maxYear }}"{% endblock %}
{% block content %}
<a href="../{{ org }}">{{ org }}</a> > {{ lg }}
<br /><br />

Teams<br>
<p>
{% for tm, yrs in yr_list.items() %}
    <a href="/{{ org }}/{{ lg }}/{{ tm }}">{{ tm }}</a> | {% for y in yrs %}<a href="/stats/hitting//{{ org }}/{{ lg }}/{{ tm }}/{{ y }}">{{ y }}</a> {% endfor %}
    <br>
{% endfor %}
</p>


<br />
<a href="/{{ org }}/{{ lg }}/champions/">List of Champions</a>
<br>
<a href="/standings/{{ org }}/{{ lg }}/{{ maxYear }}">League Standings</a>
{% endblock %}

