{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ maxYear }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}

{% block content %}
<link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../{{ org }}">{{ org }}</a></li>
    <li class="breadcrumb-item active">{{ lg }}</li>
</ol>


Teams<br>
<p>
{% for tm, yrs in yr_list.items() %}
    <a href="/{{ org }}/{{ lg }}/{{ tm }}">{{ tm }}</a>
    <br>
{% endfor %}
</p>

League Hitting Stats |
{% for y in yrs %}
<a href="/stats/hitting/{{ org }}/{{ lg }}/league/{{ y }}">{{ y }}</a> 
{% endfor %}
<br />
League Pitching Stats |
{% for y in yrs %}
<a href="/stats/pitching/{{ org }}/{{ lg }}/league/{{ y }}">{{ y }}</a> 
{% endfor %}
<br /><br />
<a href="/{{ org }}/{{ lg }}/champions/">List of Champions</a>
<br>
<a href="/standings/{{ org }}/{{ lg }}/{{ maxYear }}">League Standings</a>
{% endblock %}

