{% extends "header.html" %}
{% block title %}{{ org }} {{ lg }}{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ maxYear }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}

{% block content %}
<script>
    let org = '{{org}}';
    let lg = '{{lg}}';
    let highlightedTraceIndex = 168;

    function updatePlayerCareerComparisonChart(){
        let stat = $("#select-stat-list").val()
        
        $.ajax({
            url: `/{{org}}/{{lg}}/charts/player_comparison/${stat}`,
            type: 'GET',
            success: function(response){
                console.log(response);
                let chartData = JSON.parse(response);
                Plotly.newPlot('chart', chartData);

                var myPlot = document.getElementById('chart');

                // Function to handle the click event
                function handleClick(data) {
                    // Access information about the clicked point
                    var point = data.points[0];
                    var traceIndex = point.curveNumber;
                    var traceName = point.data.name;

                    // Reset the previously highlighted line
                    if (highlightedTraceIndex !== null && highlightedTraceIndex !== traceIndex) {
                        chartData.data[highlightedTraceIndex].marker.color = 'gray'; // Reset to original color
                        chartData.data[highlightedTraceIndex].opacity = 0.2; // Reset to original opacity
                        chartData.data[highlightedTraceIndex].showlegend = false; // Reset to original legend visibility
                    }

                    // Update the color of the clicked line
                    chartData.data[traceIndex].marker.color = 'red'; // Change to desired color
                    chartData.data[traceIndex].opacity = 1; // Make it fully opaque
                    chartData.data[traceIndex].showlegend = true; // Show this line in the legend

                    // Update the highlighted trace index
                    highlightedTraceIndex = traceIndex;

                    // Re-render the chart with the updated data
                    Plotly.newPlot('chart', chartData);

                    // Re-attach the click event listener
                    myPlot.on('plotly_click', handleClick);

                    console.log('Clicked line:', traceName, traceIndex);
                }

                // Attach the click event listener to the plot
                myPlot.on('plotly_click', handleClick);
            }
        })
    };

    function updateAgingCurve(stat){
        $.ajax({
            url: `/{{org}}/{{lg}}/charts/aging_curve/${stat}`,
            type: 'GET',
            success: function(response){
                console.log(response)
                Plotly.newPlot('aging_curve', JSON.parse(response));
                
            }
        })  
    }
</script>

<div class="row mt-3">
    <div class="col">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Cumulative Stats</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu1">Aging Curves</a>
            </li>
        </ul>
  
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="home">
                Click line to <font color="red">highlight</font>. Use dropdown to change chart statistic<br>
                <select id="select-stat-list">
                    <option value="">Select a statistic</option>
                    {% for stat in statList %}
                    <option value="{{stat}}">{{stat}}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="row mt-3">
                    <div class="col">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="menu1">
                <div class="row mt-3">
                    <div class="col">
                        Use dropdown to change chart<br>
                        <select id="select-stat-list-2">
                            {% for stat in ['', 'BA', 'OBP', 'SLG', 'OPS', 'wRAAc'] %}
                            <option value="{{stat}}">{{stat}}</option>
                            {% endfor %}
                        </select>
                        <br>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div id="aging_curve"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#select-stat-list").on('change', function(){
        updatePlayerCareerComparisonChart()
    })  
    $("#select-stat-list-2").on('change', function(){
        console.log(this.value)
        updateAgingCurve(this.value)
    })  


</script>
{% endblock %}