{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ yr }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}
<br />
<select id="year_pick" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    {% for y in yrs %}
            <option value="/stats/pitching/{{ org }}/{{ lg }}/league/{{ y }}">{{ y }}</option>
    {% endfor %}
</select>
<br />
<form id="form" action="/stats/pitching/{{ org }}/{{ lg }}/league/{{ yr }}?">
    <label for="sort_list">Sort by:</label>
    <select name="sort" id="sort_list">
        {% for col in df2 %}
        <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <input type="radio" id="sort_asc" name="asc" value=True>
    <label for="asc">Ascending</label>
    <input type="radio" id="sort_desc" name="asc" value=False>
    <label for="asc">Descending</label>
    <br><input type="submit" value="Submit">
</form>
<br>
<table class='dataframe' id='df_table'>
    <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
    <tr>
        <th>Player</th>
        <th>Team</th>
        <th>GP</th>
        <th>IP</th>
        <th>R</th>
        <th>ER</th>
        <th>K</th>
        <th>H</th>
        <th>BB</th>
        <th>HBP</th>
        <th>HR</th>
        <th>CG</th>
        <th>W</th>
        <th>L</th>
        <th>Sv</th>
        <th>HLD</th>
        <th>AB</th>
        <th>BAA</th>
        <th>ERA</th>
        <th>WHIP</th>
        <th>K/9</th>
        <th>BB/9</th>
        <th>H/9</th>
    </tr>
        {% for key,val in df2.iterrows() %}
        <tr>
            <td><a href="/player/{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</a></td>
            <td><a href="/stats/pitching/{{ org }}/{{ lg }}/{{ val['Team'] }}/{{ yr }}">{{ val['Team'] }}</a></td>
            <td>{{ val['GP'] }}</td>
            <td>{{ val['IP'] }}</td>
            <td>{{ val['R'] }}</td>
            <td>{{ val['ER'] }}</td>
            <td>{{ val['K'] }}</td>
            <td>{{ val['H'] }}</td>
            <td>{{ val['BB'] }}</td>
            <td>{{ val['HBP'] }}</td>
            <td>{{ val['HR'] }}</td>
            <td>{{ val['CG'] }}</td>
            <td>{{ val['W'] }}</td>
            <td>{{ val['L'] }}</td>
            <td>{{ val['Sv'] }}</td>
            <td>{{ val['HLD'] }}</td>
            <td>{{ val['ABA'] }}</td>
            <td>{{ val['BAA'] }}</td>
            <td>{{ val['ERA'] }}</td>
            <td>{{ val['WHIP'] }}</td>
            <td>{{ val['Kper9'] }}</td>
            <td>{{ val['BBper9'] }}</td>
            <td>{{ val['Hper9'] }}</td>
        </tr>
        {% endfor %}
</table>
<br>
<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var c = url.searchParams.get("sort");
    $('#sort_list').val(c);
    var c = url.searchParams.get("asc");

    if (c==True){
        //$("#sort_asc").prop("checked", true);
        $('#sort_asc').prop('checked',True);
    }
    if (c==False){
        //$("#sort_asc").prop("checked", true);
        $('#sort_desc').prop('checked',True);
    }
    url = url.pathname.split("/");
    url = '/stats/pitching/{{ org }}/league/'+url[url.length-1]
    $('#year_pick').val(url);
</script>

{% endblock %}