{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ yr }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}
<script>
    $(document).ready(function(){
        $("#show_plot1").click(function(){
            $("#plot1").fadeIn();
            $("#show_plot1").hide();
            $("#hide_plot1").show();
        })
    })
    $(document).ready(function(){
        $("#hide_plot1").click(function(){
            $("#plot1").fadeOut();
            $("#hide_plot1").hide();
            $("#show_plot1").show();
        })
    })
    var d = {{ df|safe }};
    //d = JSON.parse(d);
    let x = [];
    let y = [];
    d.forEach(val => y.push(val['Last']));
    d.forEach(val => x.push(val['wRAAc']));
    //Object.values(d).forEach(val => x.push(val));
    var data = [
        {
            y: y.slice(0,10).reverse(),
            x: x.slice(0,10).reverse(),
            type: 'bar',
            orientation:'h'
        }
    ];
    
</script>
<div class="row">
    <div class="col-lg-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../home">Home</a></li>
            <li class="breadcrumb-item"><a href="/{{ org }}/{{ lg }}">{{ org }} {{ lg }}</a></li>
            <li class="breadcrumb-item active">League-wide</li>
            <li class="breadcrumb-item">
                <select id="year_pick" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    {% for y in yrs %}
                            <option value="/stats/hitting/{{ org }}/{{ lg }}/league/{{ y }}">{{ y }}</option>
                    {% endfor %}
                </select>
            </li>
        </ol>
    </div>
</div>  

<div class="row">
    <div class="col-lg-6">
        <button type="button" id="show_plot1" class="btn btn-outline-primary">Show Chart</button>
        <button type="button" id="hide_plot1" class="btn btn-outline-primary" style="display: none;">Hide Chart</button>
        <div id='plot1' style="display: none;"></div>        
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class='table-sm table-hover table-condensed' id='myTable' style="cursor:pointer;">
            <thead>
                <tr>
                    <th align="left">Player</th>
                    <th align="left" onclick="sortTable(1)">Team</th>
                    <th onclick="sortTable(2)">GP</th>
                    <th onclick="sortTable(3)">PA</th>
                    <th onclick="sortTable(4)">AB</th>
                    <th onclick="sortTable(5)">R</th>
                    <th onclick="sortTable(6)">H</th>
                    <th onclick="sortTable(7)">1B</th>
                    <th onclick="sortTable(8)">2B</th>
                    <th onclick="sortTable(9)">3B</th>
                    <th onclick="sortTable(10)">HR</th>
                    <th onclick="sortTable(11)">RBI</th>
                    <th onclick="sortTable(12)">BB</th>
                    <th onclick="sortTable(13)">K</th>
                    <th onclick="sortTable(14)">HBP</th>
                    <th onclick="sortTable(15)">SB</th>
                    <th onclick="sortTable(16)">CS</th>
                    <th onclick="sortTable(17)">SF</th>
                    <th onclick="sortTable(18)">SH</th>
                    <th onclick="sortTable(19)">TB</th>
                    <th onclick="sortTable(20)">BA</th>
                    <th onclick="sortTable(21)">OBP</th>
                    <th onclick="sortTable(22)">SLG</th>
                    <th onclick="sortTable(23)">OPS</th>
                    <th onclick="sortTable(24)">OPS+</th>
                    <th onclick="sortTable(25)">wOBA</th>
                    <th onclick="sortTable(26)">wRAA</th>
                    <th onclick="sortTable(27)">wRC</th>
                    <th onclick="sortTable(28)">wRC+</th>
                    <th onclick="sortTable(29)">WAR</th>
                </tr>
            </thead>
                {% for key,val in df2.iterrows() %}
                <tr align="center">
                    <td align="left"><a href="/player/{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</a></td>
                    <td align="left"><a href="/stats/hitting/{{ org }}/{{ lg }}/{{ val['Team'] }}/{{ yr }}">{{ val['Team'] }}</a></td>
                    <td>{{ val['GP'] }}</td>
                    <td>{{ val['PA'] }}</td>
                    <td>{{ val['AB'] }}</td>
                    <td>{{ val['R'] }}</td>
                    <td>{{ val['H'] }}</td>
                    <td>{{ val['1B'] }}</td>
                    <td>{{ val['2B'] }}</td>
                    <td>{{ val['3B'] }}</td>
                    <td>{{ val['HR'] }}</td>
                    <td>{{ val['RBI'] }}</td>
                    <td>{{ val['BB'] }}</td>
                    <td>{{ val['K'] }}</td>
                    <td>{{ val['HBP'] }}</td>
                    <td>{{ val['SB'] }}</td>
                    <td>{{ val['CS'] }}</td>
                    <td>{{ val['SF'] }}</td>
                    <td>{{ val['SH'] }}</td>
                    <td>{{ val['TB'] }}</td>
                    <td>{{ val['BA'] }}</td>
                    <td>{{ val['OBP'] }}</td>
                    <td>{{ val['SLG'] }}</td>
                    <td>{{ val['OPS'] }}</td>
                    <td>{{ val['OPS+'] }}</td>
                    <td>{{ val['wOBA'] }}</td>
                    <td>{{ val['wRAAc'] }}</td>
                    <td>{{ val['wRC'] }}</td>
                    <td>{{ val['wRC+'] }}</td>
                    <td>{{ val['WAR'] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id='myDiv'></div>
    </div>
</div>

<script>
    var scatter = {{ scatter|safe }};
    console.log(scatter);
    Plotly.newPlot('plot1', scatter);
    Plotly.newPlot('myDiv', data);
    var url_string = window.location.href;
    var url = new URL(url_string);
    url = url.pathname.split("/");
    url = '/stats/hitting/{{ org }}/{{ lg }}/league/'+url[url.length-1]
    $('#year_pick').val(url);

    $("#stats_nav").addClass('active')

</script>

{% endblock %}