{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ yr }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../home">Home</a></li>
            <li class="breadcrumb-item"><a href="/{{ org }}/{{ lg }}">{{ org }} {{ lg }}</a></li>
            <li class="breadcrumb-item active">League-wide</li>
            <li class="breadcrumb-item">
                <select id="year_pick" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    {% for y in yrs %}
                            <option value="/stats/pitching/{{ org }}/{{ lg }}/league/{{ y }}">{{ y }}</option>
                    {% endfor %}
                </select>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class='table table-condensed table-hover' id='myTable'>
            <tr>
                <th align="left">Player</th>
                <th align="left">Team</th>
                <th onclick="sortTable(2)">GP</th>
                <th onclick="sortTable(3)">IP</th>
                <th onclick="sortTable(4)">R</th>
                <th onclick="sortTable(5)">ER</th>
                <th onclick="sortTable(6)">K</th>
                <th onclick="sortTable(7)">H</th>
                <th onclick="sortTable(8)">BB</th>
                <th onclick="sortTable(9)">HBP</th>
                <th onclick="sortTable(10)">HR</th>
                <th onclick="sortTable(11)">CG</th>
                <th onclick="sortTable(12)">W</th>
                <th onclick="sortTable(13)">L</th>
                <th onclick="sortTable(14)">Sv</th>
                <th onclick="sortTable(15)">HLD</th>
                <th onclick="sortTable(16)">AB</th>
                <th onclick="sortTable(17)">BAA</th>
                <th onclick="sortTable(18)">ERA</th>
                <th onclick="sortTable(19)">WHIP</th>
                <th onclick="sortTable(20)">K/9</th>
                <th onclick="sortTable(21)">BB/9</th>
                <th onclick="sortTable(22)">H/9</th>
            </tr>
                {% for key,val in df2.iterrows() %}
                <tr align="center">
                    <td align="left"><a href="/player/{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</a></td>
                    <td align="left"><a href="/stats/pitching/{{ org }}/{{ lg }}/{{ val['Team'] }}/{{ yr }}">{{ val['Team'] }}</a></td>
                    <td>{{ val['GP'] }}</td>
                    <td>{{ val['IP'] }}</td>
                    <td>{{ val['R'] }}</td>
                    <td>{{ val['ER'] }}</td>
                    <td>{{ val['K'] }}</td>
                    <td>{{ val['H'] }}</td>
                    <td>{{ val['BB'] }}</td>
                    <td>{{ val['HBP'] }}</td>
                    <td>{{ val['HR'] }}</td>
                    <td>{{ val['CG'] }}</td>
                    <td>{{ val['W'] }}</td>
                    <td>{{ val['L'] }}</td>
                    <td>{{ val['Sv'] }}</td>
                    <td>{{ val['HLD'] }}</td>
                    <td>{{ val['ABA'] }}</td>
                    <td>{{ val['BAA'] }}</td>
                    <td>{{ val['ERA'] }}</td>
                    <td>{{ val['WHIP'] }}</td>
                    <td>{{ val['Kper9'] }}</td>
                    <td>{{ val['BBper9'] }}</td>
                    <td>{{ val['Hper9'] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>


<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    url = url.pathname.split("/");
    url = '/stats/pitching/{{ org }}/{{ lg }}/league/'+url[url.length-1]
    $('#year_pick').val(url);
    
    $("#stats_nav").addClass('active')
</script>

{% endblock %}