{% extends "header.html" %}
{% block title %}{{ org }} {{ lg }}{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ maxYear }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}

{% block content %}

<div id="chart"></div>


<script>
    chart_data = {{ chart_data|safe }};
    Plotly.newPlot('chart', chart_data, {title: "Wins by RF and RA", xaxis: {title: 'RA'}, yaxis: { title: 'RF' },});
</script>
{% endblock %}