{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}/standings/{{ org }}/{{ lg }}/{{ max_yr }}{% endblock %}
{% block champions %}/{{ org }}/{{ lg }}/champions{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}

{% block content %}

<br />
Leagues<br>
{% for lg in lgs %}
<a href="/{{ org }}/{{ lg }}">{{ lg }}</a><br>
{% endfor %}
<br>

{% endblock %}

