{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}/standings/{{ org }}/{{ lg }}/{{ max_yr }}{% endblock %}
{% block champions %}/{{ org }}/{{ lg }}/champions{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}

{% block content %}
<link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet">

<div class="row">
    <div class="col-lg-12">
        {% for lg in lgs %}
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">League</div>
            <div class="card-body">
                <h4 class="card-title"><a href="/{{ org }}/{{ lg }}">{{ lg }}</a></h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

