{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2019"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}MABL/18+/league/2021{% endblock %}}
{% block pitching_stats %}MABL/18+/league/2021{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}
<script type="text/javascript">
function goToPage(){
    var v = document.querySelector('#player').value;
    window.location = '/player/'+v;
    return false;
}
</script>
<div id="df_table">
    <br>
    <form>
        <input list="players" name="player" id="player">
        <datalist id="players">
        {% for key,val in df.iterrows() %}
        <option value="{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</option>
        {% endfor %}
        </datalist>
        <input type="button" onclick="goToPage()" value="Submit">
    </form>
</div>
<br />
{{ fname }} {{ lname }}
<br /><br />

{{ df2|safe }}

{% endblock %}
