{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block proj %}projections{% endblock %}
{% block content %}
<script type="text/javascript">
function goToPage(){
    var v = document.querySelector('#player').value;
    //var e = document.getElementById("players"); //set subcategory as id of select box
    //var v = e.value;
    console.log(v);
    //var value_1 = $('#value_1').val();
    //var value_2 =  $('#value_2').val();
    window.location = '/player/'+v;
    return false;
}
</script>
<div id="df_table">
    <br>
    <form>
        <input list="players" name="player" id="player">
        <datalist id="players">
        {% for key,val in df.iterrows() %}
        <option value="{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</option>
        {% endfor %}
        </datalist>
        <input type="button" onclick="goToPage()" value="Submit">
    </form>
</div>
<br />
{{ fname }} {{ lname }}
<br /><br />

{{ df2|safe }}

{% endblock %}
