{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block sched %}"schedule/mabl"{% endblock %}
{% block content %}

<a href="/stats/hitting/{{ org }}/{{ lg }}/{{ tm }}/{{ max_yr }}">{{ tm }}</a>
<div class="row">
    <div class="col-lg-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../home">Home</a></li>
            <li class="breadcrumb-item"><a href="/{{ org }}/{{ lg }}">{{ org }} {{ lg }}</a></li>
            <li class="breadcrumb-item active">{{ tm }} Projections</li>
        </ol>
    </div>
</div>
<br>
<table class='table table-condensed table-hover table-sm table-striped' id='myTable'>
    <tr>
        <th align='left'>Player</th>
        <th onclick="sortTable(1)">PA</th>
        <th onclick="sortTable(2)">AB</th>
        <th onclick="sortTable(3)">R</th>
        <th onclick="sortTable(4)">H</th>
        <th onclick="sortTable(5)">1B</th>
        <th onclick="sortTable(6)">2B</th>
        <th onclick="sortTable(7)">3B</th>
        <th onclick="sortTable(8)">HR</th>
        <th onclick="sortTable(9)">RBI</th>
        <th onclick="sortTable(10)">BB</th>
        <th onclick="sortTable(11)">K</th>
        <th onclick="sortTable(12)">HBP</th>
        <th onclick="sortTable(13)">SB</th>
        <th onclick="sortTable(14)">CS</th>
        <th onclick="sortTable(15)">SF</th>
        <th onclick="sortTable(16)">TB</th>
        <th onclick="sortTable(17)">BA</th>
        <th onclick="sortTable(18)">OBP</th>
        <th onclick="sortTable(19)">SLG</th>
        <th onclick="sortTable(20)">OPS</th>
        <th onclick="sortTable(21)">wOBA</th>
        <th>RegFac</th>
    </tr>
        {% for key,val in df2.iterrows() %}
        <tr align='center'>
            <td align='left'><a href="/player/{{ val['PID'] }}">{{ val['First'] }} {{ val['Last'] }}</a></td>
            <td>{{ val['PA'] }}</td>
            <td>{{ val['AB'] }}</td>
            <td>{{ val['R'] }}</td>
            <td>{{ val['H'] }}</td>
            <td>{{ val['single'] }}</td>
            <td>{{ val['double'] }}</td>
            <td>{{ val['triple'] }}</td>
            <td>{{ val['HR'] }}</td>
            <td>{{ val['RBI'] }}</td>
            <td>{{ val['BB'] }}</td>
            <td>{{ val['K'] }}</td>
            <td>{{ val['HBP'] }}</td>
            <td>{{ val['SB'] }}</td>
            <td>{{ val['CS'] }}</td>
            <td>{{ val['SF'] }}</td>
            <td>{{ val['TB'] }}</td>
            <td>{{ val['BA'] }}</td>
            <td>{{ val['OBP'] }}</td>
            <td>{{ val['SLG'] }}</td>
            <td>{{ val['OPS'] }}</td>
            <td>{{ val['wOBA'] }}</td>
            <td>{{ val['Regression_Factor'] }}</td>
        </tr>
        {% endfor %}
</table>
<script>
    $("#stats_nav").addClass('active')
</script>
{% endblock %}