{% extends "header.html" %}
{% block title %}Sim Game{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2021"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block lg_stats %}"/{{ org }}/{{ lg }}/league/2021"{% endblock %}
{% block content %}

<script>
    let proj = {{ players | safe }}; // player projection data
    var form = document.getElementById("myform");
    function submitFormChangeLeague(){        
        var input = $("<input>")
                .attr("name", "go").val(0)
                .attr("action", "/sim");
        $('#myForm').append(input);
        $("#myForm").submit()
    }
    let resp = {};

    function getLineupValues(){
        let inningSelection = 0
        $.each($("input[name='innings']"), function(i,j){
            if (j.checked){
            inningSelection = j['value']
            }
        });

        jsonData = {
            "awayLineup":[$("#a1").val(), $("#a2").val(),$("#a3").val(), $("#a4").val(), $("#a5").val(), $("#a6").val(), $("#a7").val(), $("#a8").val(), $("#a9").val(), $("#a10").val()],
            "homeLineup":[$("#h1").val(), $("#h2").val(),$("#h3").val(), $("#h4").val(), $("#h5").val(), $("#h6").val(), $("#h7").val(), $("#h8").val(), $("#h9").val(), $("#h10").val()],
        };
        const idsToFilter = jsonData['awayLineup'].concat(jsonData['homeLineup']);
        const idsToFilterInt = idsToFilter.map(id => parseInt(id, 10));
        const hittersInGame = {'players':proj.filter(item => idsToFilterInt.includes(parseInt(item.PID, 10)))};
        hittersInGame.org = '{{ org }}';
        hittersInGame.lg = '{{ lg }}';
        hittersInGame.yr = '{{ yr }}';
        hittersInGame.awayLineup = jsonData.awayLineup;
        hittersInGame.homeLineup = jsonData.homeLineup;
        hittersInGame.awayPitcher = $("#a_p").val();
        hittersInGame.homePitcher = $("#h_p").val();
        hittersInGame.innings = parseInt(inningSelection);
        hittersInGame.sims = parseInt($("#sims").val());

        console.log(hittersInGame)
        return hittersInGame
    }


    function runSimulations(){
        lineupData = getLineupValues();
        $.ajax({
            url: "/sim/simulate",
            type: 'POST',
            data: JSON.stringify(lineupData),
            success: function(response){
                console.log(response)
                resp = response;
                console.log(response['data'])
                $("#controls").hide(duration=500);
                resultScore = "Away Team: "+response['awayScore'].toString()+' - Home Team: ' + response['homeScore'].toString()
                $("#score").text(resultScore)
                gameLog = '<h5>Game Log</h5>'
                $.each(response['gameLog'], function(i,j){
                    gameLog += j + '<br>'
                })
                $("#numOfSimsChosen").text(`Number of simulations run: ${response['data']['sims']}`)
                $("#gameLog").html(gameLog)
                //$("#game_log_home_side").html(response['homeResult']['game_log'])
                //$("#awayBoxResults").text(response['awayResult']['box_results'])
                $("#home_win_pct").text("Home team win percentage: "+response['home_win_pct']+'%')
                Plotly.newPlot('winChart', JSON.parse(response['fig']), {responsive: true})

                html = '<table class="table table-sm table-condensed"><thead><th>Team</th>'
                $.each(response['boxScore']['away_runs'], function(i,j){
                    html += '<th>'+ (parseInt(i)+1).toString() +'</th>'
                })
                html += '<th>R</th><th>H</th><th>E</th></thead><tr>'
                html += '<td>' + response['boxScore']['away_team'] + '</td>'
                $("#boxScoreAwayName").text(response['boxScore']['away_team']);

                $.each(response['boxScore']['away_runs'], function(i,j){
                    html += '<td>'+j+'</td>'
                })
                html += '<td>' + response['boxScore']['away_runs'].reduce((a,b) => a+b, 0) + '</td>'
                html += '<td>' + response['boxScore']['away_hits'] + '</td>'
                html += '<td>' + response['boxScore']['away_errors'] + '</td>'
                html += '</tr><tr>'
                html += '<td>' + response['boxScore']['home_team'] + '</td>'
                $("#boxScoreHomeName").text(response['boxScore']['home_team']);
                $.each(response['boxScore']['home_runs'], function(i,j){
                    html += '<td>'+j+'</td>'
                })
                html += '<td>' + response['boxScore']['home_runs'].reduce((a,b) => a+b, 0) + '</td>'
                html += '<td>' + response['boxScore']['home_hits'] + '</td>'
                html += '<td>' + response['boxScore']['home_errors'] + '</td>'
                html += '</tr></table>'
                $("#boxScore").html(html);

                // Box Score Stats
                // Away Team
                html = '<table class="table table-sm table-condensed mt-3"><thead><th>Player</th><th>AB</th><th>H</th><th>2B</th><th>3B</th><th>HR</th><th>BB</th><th>HBP</th><th>K</th><th>WPA</th></thead>'
                stats = {'H':0, 'AB':0, '2B':0, '3B':0, 'HR':0, 'bb':0, 'hbp':0, 'so':0, 'wpa':0}
                $.each(resp['awayLineup'], function(i,v){
                    $.each(resp['boxScore']['stats'], function(j,k){
                        if (k['batter'] == v['name']){
                            console.log(k)
                            stats['H'] += k['H']
                            stats['AB'] += k['AB']
                            stats['2B'] += k['2B']
                            stats['3B'] += k['3B']
                            stats['HR'] += k['HR']
                            stats['bb'] += k['bb']
                            stats['hbp'] += k['hbp']
                            stats['so'] += k['so']
                            stats['wpa'] += k['wpa']
                            html += '<tr><td>'+k['batter']+'</td><td>'+k['AB']+'</td><td>'+k['H']+'</td><td>'+k['2B']+'</td><td>'+k['3B']+'</td><td>'+k['HR']+'</td><td>'+k['bb']+'</td><td>'+k['hbp']+'</td><td>'+k['so']+'</td><td>'+k['wpa'].toFixed(2)+'</td></tr>'        
                        }
                    })
                })
                html += '<tr><b><td>Total</td><td>'+stats['AB']+'</td><td>'+stats['H']+'</td><td>'+stats['2B']+'</td><td>'+stats['3B']+'</td><td>'+stats['HR']+'</td><td>'+stats['bb']+'</td><td>'+stats['hbp']+'</td><td>'+stats['so']+'</td><td>'+stats['wpa'].toFixed(2)+'</td></b></tr>'
                html += '</table>'
                $("#gameStatsAway").html(html)
                // Home Team
                html = '<table class="table table-sm table-condensed mt-3"><thead><th>Player</th><th>AB</th><th>H</th><th>2B</th><th>3B</th><th>HR</th><th>BB</th><th>HBP</th><th>K</th><th>WPA</th></thead>'
                stats = {'H':0, 'AB':0, '2B':0, '3B':0, 'HR':0, 'bb':0, 'hbp':0, 'so':0, 'wpa':0}
                $.each(resp['homeLineup'], function(i,v){
                    $.each(resp['boxScore']['stats'], function(j,k){
                        if (k['batter'] == v['name']){
                            console.log(k)
                            stats['H'] += k['H']
                            stats['AB'] += k['AB']
                            stats['2B'] += k['2B']
                            stats['3B'] += k['3B']
                            stats['HR'] += k['HR']
                            stats['bb'] += k['bb']
                            stats['hbp'] += k['hbp']
                            stats['so'] += k['so']
                            stats['wpa'] += k['wpa']
                            html += '<tr><td>'+k['batter']+'</td><td>'+k['AB']+'</td><td>'+k['H']+'</td><td>'+k['2B']+'</td><td>'+k['3B']+'</td><td>'+k['HR']+'</td><td>'+k['bb']+'</td><td>'+k['hbp']+'</td><td>'+k['so']+'</td><td>'+k['wpa'].toFixed(2)+'</td></tr>'        
                        }
                    })
                })
                html += '<tr><b><td>Total</td><td>'+stats['AB']+'</td><td>'+stats['H']+'</td><td>'+stats['2B']+'</td><td>'+stats['3B']+'</td><td>'+stats['HR']+'</td><td>'+stats['bb']+'</td><td>'+stats['hbp']+'</td><td>'+stats['so']+'</td><td>'+stats['wpa'].toFixed(2)+'</td></b></tr>'
                html += '</table>'
                $("#gameStatsHome").html(html)
            }
        })
    }

    function setDefaultAs35(){
        $("#a1").val('1781');
        updateTable(1781, 'row_a1');
        $("#a2").val('1063');
        updateTable(1063, 'row_a2');
        $("#a3").val('876');
        updateTable(876, 'row_a3');
        $("#a4").val('1357');
        updateTable(1357, 'row_a4');
        $("#a5").val('3328');
        updateTable(3328, 'row_a5');
        $("#a6").val('304');
        updateTable(304, 'row_a6');
        $("#a7").val('718');
        updateTable(718, 'row_a7');
        $("#a8").val('2043');
        updateTable(2043, 'row_a8');
        $("#a9").val('1319');
        updateTable(1319, 'row_a9');
        $("#a10").val('2019');
        updateTable('2019', 'row_a10');
        $("#a_p").val('484');
        $("#h1").val('3144');
        updateTable(3144, 'row_h1');
        $("#h2").val('592');
        updateTable(592, 'row_h2');
        $("#h3").val('1754');
        updateTable(1754, 'row_h3');
        $("#h4").val('690');
        updateTable(690, 'row_h4');
        $("#h5").val('3432');
        updateTable(3432, 'row_h5');
        $("#h6").val('275');
        updateTable(275, 'row_h6');
        $("#h7").val('3145');
        updateTable(3145, 'row_h7');
        $("#h8").val('995');
        updateTable(995, 'row_h8');
        $("#h9").val('1082');
        updateTable(1082, 'row_h9');
        $("#h10").val('360');
        updateTable(360, 'row_h10');
        $("#h_p").val('592');
        
    }
    
    // Function to update the table based on the selected PID
    function updateTable(pid, rowId) {
        const playerData = proj.filter(record => record.PID == pid)[0];
        const row = document.getElementById(rowId);

        // Clear existing data cells
        while (row.childElementCount > 2) {
            row.removeChild(row.lastChild);
        }

        if (playerData) {
            // Create and append new <td> elements
            const baCell = document.createElement('td');
            baCell.textContent = playerData.BA;
            row.appendChild(baCell);

            const obpCell = document.createElement('td');
            obpCell.textContent = playerData.OBP;
            row.appendChild(obpCell);

            const slgCell = document.createElement('td');
            slgCell.textContent = playerData.SLG;
            row.appendChild(slgCell);

            const opsCell = document.createElement('td');
            opsCell.textContent = playerData.OPS;
            row.appendChild(opsCell);
        }
    }

    
</script>

<div class="container" id="controls">
    <form id="myForm" method="GET">
    <div class="row">
        <div class="col-lg-2">
            <label for="org"><b>Org</b></label><br>
            <input type="radio" id="MABL" name="org" value="MABL" checked>MABL
            <input type="radio" id="RRL" name="org" value="RRL">RRL
            <input type="radio" id="MSCR" name="org" value="MSCR" disabled>MSCR<br>
            <br>
            
            <label for="lg"><b>League</b></label>
            <br>
            <input type="radio" name="lg" value="17" disabled>17+
            <input type="radio" name="lg" value="18">18+
            <input type="radio" name="lg" value="35" checked>35+
            <input type="radio" name="lg" value="45" disabled>45+
            <input type="radio" name="lg" value="55" disabled>55+<br>
            <input type="radio" name="lg" value="Southern">Southern
            <input type="radio" name="lg" value="Northern">Northern<br>
            <br>
            
            <label for="range"><b># of Simulations</b></label>
            <br><input type="range"name="sims" id="sims" min="1" max="1000" step="5" value="1"><br>
            
            <br><label for="innings"><b>Innings:</b></label>
            <input type="radio" name="innings" value="7" checked>7
            <input type="radio" name="innings" value="9">9
            <br><br><input type='button' id="As_35" value="Set Default Lineup" onclick="setDefaultAs35()">    
            <br><br><input type="button" id="submit-league-change" value='Change League' onclick="submitFormChangeLeague()">
        </div>
        <div class="col-lg-5" id="away_team">
            <h5>Away Team</h5>
            <table>
                <thead>
                    <th>#</th>
                    <th>Player</th>
                    <th>BA</th>
                    <th>OBP</th>
                    <th>SLG</th>
                    <th>OPS</th>
                </thead>
                <tr id="row_a1">
                    <td>1</td>
                    <td>
                        <select id="a1">
                            <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a2">
                    <td>2</td>
                    <td>
                        <select id="a2">
                            <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a3">
                    <td>3</td>
                    <td>
                        <select id="a3">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a4">
                    <td>4</td>
                    <td>
                        <select id="a4">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a5">
                    <td>5</td>
                    <td>
                        <select id="a5">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a6">
                    <td>6</td>
                    <td>
                        <select id="a6">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a7">
                    <td>7</td>
                    <td>
                        <select id="a7">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a8">
                    <td>8</td>
                    <td>
                        <select id="a8">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a9">
                    <td>9</td>
                    <td>
                        <select id="a9">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_a10">
                    <td>10</td>
                    <td>
                        <select id="a10">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>P</td>
                    <td>
                        <select id="a_p">
                            <option value="0">Pick a Pitcher</option>
                            {% for key, val in lg_pitchers.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-5" id="home_team">
            <h5>Home Team</h5>
            <table>
                <thead>
                    <th>#</th>
                    <th>Player</th>
                    <th>BA</th>
                    <th>OBP</th>
                    <th>SLG</th>
                    <th>OPS</th>
                </thead>
                <tr id="row_h1">
                    <td>1</td>
                    <td>
                        <select id="h1">
                            <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h2">
                    <td>2</td>
                    <td>
                        <select id="h2">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h3">
                    <td>3</td>
                    <td>
                        <select id="h3">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h4">
                    <td>4</td>
                    <td>
                        <select id="h4">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h5">
                    <td>5</td>
                    <td>
                        <select id="h5">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h6">
                    <td>6</td>
                    <td>
                        <select id="h6">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h7">
                    <td>7</td>
                    <td>
                        <select id="h7">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h8">
                    <td>8</td>
                    <td>
                        <select id="h8">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h9">
                    <td>9</td>
                    <td>
                        <select id="h9">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="row_h10">
                    <td>10</td>
                    <td>
                        <select id="h10">
                            <option value="0">Pick a player</option>
                            {% for key, val in plyrs.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>P</td>
                    <td>
                        <select id="h_p">
                            <option value="0">Pick a Pitcher</option>
                            {% for key, val in lg_pitchers.iterrows() %}
                                <option value="{{ val['PID'] }}">{{ val['Last'] }} {{ val['First'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>
</div>
<div class="row">
    <div class="col">
        <button type="button" id="controlsToggle" class="button btn-success">Show/Hide Controls</button>
        <input type="button" id="submit-sims" class="button btn-primary mt-2" value='Run Simulations' onclick="runSimulations()">
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="ab_results">
            <p id="numOfSimsChosen"></p>
            <h5 id="score">{{ score }}</h5>
            <p id="home_win_pct">Home team win percentage: {{ home_win_pct }}%</p>
            <p id="awayBoxResults"></p>
        </div>
    </div>
    <div class="col">
        <div id="boxScore"></div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-4">
        <div id="gameLog" style="max-height:700px; overflow-y: auto;"></div>
    </div>
    <div class="col-lg-8">
        <div id="winChart"></div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h5><span id="boxScoreAwayName">Away Team</span> Stats</h5>
        <div id="gameStatsAway"></div>
    </div>
    <div class="col">
        <h5><span id="boxScoreHomeName">Home Team</span> Stats</h5>
        <div id="gameStatsHome"></div>
    </div>
</div>

<script>
    // Attach event listener to the dropdown
    $(document).ready(function(){
        console.log('doc is ready')
        document.getElementById('away_team').addEventListener('change', function(event) {
            //console.log(event)
            //console.log(event.target.id, event.target.value)
            if (event.target && event.target.tagName === 'SELECT') {
                const selectedPID = event.target.value;
                const rowId = 'row_' + event.target.id;
                updateTable(selectedPID, rowId);
            }
        });
        
        document.getElementById('home_team').addEventListener('change', function(event) {
            if (event.target && event.target.tagName === 'SELECT') {
                const selectedPID = event.target.value;
                const rowId = 'row_' + event.target.id;
                updateTable(selectedPID, rowId);
            }
        });

        // Function to show/hide the controls
        $("#controlsToggle").on('click', function(){
            $("#controls").toggle(duration=500);
        })
    })
    


</script>

{% endblock %}