{% extends "header.html" %}
{% block title %}Sim Game{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2021"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block lg_stats %}"/{{ org }}/{{ lg }}/league/2021"{% endblock %}
{% block content %}

<script>
    var form = document.getElementById("myform");
    function submitFormChangeLeague(){        
        var input = $("<input>")
                .attr("name", "go").val(0)
                .attr("action", "/sim");
        $('#myForm').append(input);
        $("#myForm").submit()
    }
    function submitFormRunSims(){        
        var lineup1 = $("#a1").val().toString()+"+"+$("#a2").val().toString()+"+"+$("#a3").val().toString()+"+"+$("#a4").val().toString()+"+"+$("#a5").val().toString()+"+"+$("#a6").val().toString()+"+"+$("#a7").val().toString()+"+"+$("#a8").val().toString()+"+"+$("#a9").val().toString()+"+"+$("#a10").val().toString();
        var lineup2 = $("#h1").val().toString()+"+"+$("#h2").val().toString()+"+"+$("#h3").val().toString()+"+"+$("#h4").val().toString()+"+"+$("#h5").val().toString()+"+"+$("#h6").val().toString()+"+"+$("#h7").val().toString()+"+"+$("#h8").val().toString()+"+"+$("#h9").val().toString()+"+"+$("#h10").val().toString();
        var input = $("<input>")
                .attr("name", "go").val(1)
                .attr("action", "/sim");
        $('#myForm').append(input);
        var input = $("<input>")
                .attr("name", "away_lineup").val(encodeURIComponent(lineup1))
        $('#myForm').append(input);
        var input = $("<input>")
                .attr("name", "away_pitcher").val(encodeURIComponent($("#a_p").val().toString()))
                .attr("action", "/sim");
        $('#myForm').append(input);
        var input = $("<input>")
                .attr("name", "home_lineup").val(encodeURIComponent(lineup2))
        $('#myForm').append(input);
        var input = $("<input>")
                .attr("name", "home_pitcher").val(encodeURIComponent($("#h_p").val().toString()))
                .attr("action", "/sim");
        $('#myForm').append(input);
        $("#myForm").submit()
    }
    function setDefaultAs35(){
        $("#a1").val('1781');
        $("#a2").val('304');
        $("#a3").val('876');
        $("#a4").val('1063');
        $("#a5").val('2019');
        $("#a6").val('718');
        $("#a7").val('2043');
        $("#a8").val('900');
        $("#a9").val('750');
        $("#a10").val('1319');
        $("#a_p").val('484');
        $("#h1").val('579');
        $("#h2").val('391');
        $("#h3").val('3059');
        $("#h4").val('492');
        $("#h5").val('3062');
        $("#h6").val('3061');
        $("#h7").val('17');
        $("#h8").val('2375');
        $("#h9").val('825');
        $("#h10").val('3060');
        $("#h_p").val('3134');
    }
    
</script>

<form id="myForm" method="GET">
<div class="row">
    <div class="col-lg-3">
            <input type="radio" id="MABL" name="org" value="MABL" checked>MABL
            <input type="radio" id="RRL" name="org" value="RRL">RRL
            <input type="radio" id="MSCR" name="org" value="MSCR" disabled>MSCR<br>
            <input type="radio" name="lg" value="17" disabled>17+
            <input type="radio" name="lg" value="18">18+
            <input type="radio" name="lg" value="35" checked>35+
            <input type="radio" name="lg" value="45" disabled>45+
            <input type="radio" name="lg" value="55" disabled>55+<br>
            <input type="radio" name="lg" value="Southern">Southern
            <input type="radio" name="lg" value="Northern">Northern<br>
            <label for="range"># of Simulations</label><br><input type="range"name="sims" min="1" max="1000" step="50" value="1"><br>
            <label for="innings">Innings:</label>
            <input type="radio" name="innings" value="7" checked>7
            <input type="radio" name="innings" value="9">9
            <br><input type="button" id="submit-button" value='Run Simulations' onclick="submitFormRunSims()">
            <br><input type="button" id="submit-button" value='Change League' onclick="submitFormChangeLeague()">
            <br><input type='button' id="As_35" value="A's" onclick="setDefaultAs35()">
    </div>
    <div class="col-lg-4" id="away_team">
        <table>
            <tr>
                <td>1</td>
                <td>
                    <select id="a1">
                        <option value="0">Pick a player</option>
                    {% for key, val in plyrs.iterrows() %}
                        <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                    {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==0 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <select id="a2">
                        <option value="0">Pick a player</option>
                    {% for key, val in plyrs.iterrows() %}
                        <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                    {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==1 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <select id="a3">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==2 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <select id="a4">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==3 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <select id="a5">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==4 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <select id="a6">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% for key, val in away_proj.iterrows() %}
                    {% if key==5 %}
                        <td>{{ val['BA'] }}</td>
                        <td>{{ val['OBP'] }}</td>
                        <td>{{ val['SLG'] }}</td>
                        <td>{{ val['OPS'] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>7</td>
                <td>
                    <select id="a7">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==6 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>8</td>
                <td>
                    <select id="a8">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==7 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <select id="a9">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==8 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>10</td>
                <td>
                    <select id="a10">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in away_proj.iterrows() %}
                        {% if key==9 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>P</td>
                <td>
                    <select id="a_p">
                        <option value="0">Pick a Pitcher</option>
                        {% for key, val in lg_pitchers.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4" id="home_team">
        <table>
            <tr>
                <td>1</td>
                <td>
                    <select id="h1">
                        <option value="0">Pick a player</option>
                    {% for key, val in plyrs.iterrows() %}
                        <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                    {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==0 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <select id="h2">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==1 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <select id="h3">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==2 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <select id="h4">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==3 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <select id="h5">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==4 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <select id="h6">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==5 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>7</td>
                <td>
                    <select id="h7">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==6 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>8</td>
                <td>
                    <select id="h8">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==7 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <select id="h9">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==8 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>10</td>
                <td>
                    <select id="h10">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
                    {% for key, val in home_proj.iterrows() %}
                        {% if key==9 %}
                            <td>{{ val['BA'] }}</td>
                            <td>{{ val['OBP'] }}</td>
                            <td>{{ val['SLG'] }}</td>
                            <td>{{ val['OPS'] }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <td>P</td>
                <td>
                    <select id="h_p">
                        <option value="0">Pick a Pitcher</option>
                        {% for key, val in lg_pitchers.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
<div class="row">
    <div class="col-lg-4">
        <div id="ab_results">
            <h5>{{ score }}</h5>
            <p>{{ ab_results_away }}</p>
            
        </div>
    </div>
    <div class="col-lg-4">
        <div id="game_log_away_side">
            {{ game_log_away|safe }}
        </div>
    </div>
    <div class="col-lg-4">
        <div id="game_log_home_side">
            {{ game_log_home|safe }}
        </div>
    </div>
</div>
<script>
    var urlParams = new URLSearchParams(window.location.search);
        
    if (urlParams.has('org')==true){
        if (urlParams.get('org')=='MABL'){
            $("#MABL").val(urlParams.get('org'));
        } else {
            $("#RRL").val(urlParams.get('org'));
        }
    } else {
        $("#org").val('');
    }
    if (urlParams.has('lg')==true){
        $("#lg").val(urlParams.get('lg'));
    } else {
        $("#lg").val('');
    }
    if (urlParams.has('innings')==true){
        $("#innings").val(urlParams.get('innings'));
    } else {
        $("#innings").val('');
    }
    if (urlParams.has('go')==true){
        $("#go").val(urlParams.get('go'));
    } else {
        $("#go").val('');
    }
    {% for i in away_team %}
        $("#a{{ loop.index }}").val("{{ i }}");
    {% endfor %}
    
    {% for i in home_team %}
        $("#h{{ loop.index }}").val("{{ i }}");
    {% endfor %}

    $("#a_p").val("{{ away_pitcher }}");
    $("#h_p").val("{{ home_pitcher }}");
</script>

{% endblock %}