{% extends "header.html" %}
{% block title %}Sim Game{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2021"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block lg_stats %}"/{{ org }}/{{ lg }}/league/2021"{% endblock %}
{% block content %}

<script>
    let proj = {{ players | safe }}; // player projection data
    var form = document.getElementById("myform");
    function submitFormChangeLeague(){        
        var input = $("<input>")
                .attr("name", "go").val(0)
                .attr("action", "/sim");
        $('#myForm').append(input);
        $("#myForm").submit()
    }


    function getLineupValues(){
        let inningSelection = 0
        $.each($("input[name='innings']"), function(i,j){
            if (j.checked){
            inningSelection = j['value']
            }
        });

        jsonData = {
            "awayLineup":[$("#a1").val(), $("#a2").val(),$("#a3").val(), $("#a4").val(), $("#a5").val(), $("#a6").val(), $("#a7").val(), $("#a8").val(), $("#a9").val(), $("#a10").val()],
            "homeLineup":[$("#h1").val(), $("#h2").val(),$("#h3").val(), $("#h4").val(), $("#h5").val(), $("#h6").val(), $("#h7").val(), $("#h8").val(), $("#h9").val(), $("#h10").val()],
        };
        const idsToFilter = jsonData['awayLineup'].concat(jsonData['homeLineup']);
        const idsToFilterInt = idsToFilter.map(id => parseInt(id, 10));
        const hittersInGame = {'players':proj.filter(item => idsToFilterInt.includes(parseInt(item.PID, 10)))};
        hittersInGame.org = '{{ org }}';
        hittersInGame.lg = '{{ lg }}';
        hittersInGame.yr = '{{ yr }}';
        hittersInGame.awayLineup = jsonData.awayLineup;
        hittersInGame.homeLineup = jsonData.homeLineup;
        hittersInGame.awayPitcher = $("#a_p").val();
        hittersInGame.homePitcher = $("#h_p").val();
        hittersInGame.innings = parseInt(inningSelection);
        hittersInGame.sims = parseInt($("#sims").val());

        console.log(hittersInGame)
        return hittersInGame
    }


    function runSimulations(){
        lineupData = getLineupValues();
        $.ajax({
            url: "/sim/simulate",
            type: 'POST',
            data: JSON.stringify(lineupData),
            success: function(response){
                console.log(response)
                console.log(response['data'])
                resultScore = "Away Team: "+response['awayScore'].toString()+' - Home Team: ' + response['homeScore'].toString()
                $("#score").text(resultScore)
                gameLog = '<h5>Game Log</h5>'
                $.each(response['gameLog'], function(i,j){
                    gameLog += j + '<br>'
                })
                $("#numOfSimsChosen").text(`Number of simulations run: ${response['data']['sims']}`)
                $("#game_log_away_side").html(gameLog)
                //$("#game_log_home_side").html(response['homeResult']['game_log'])
                //$("#awayBoxResults").text(response['awayResult']['box_results'])
                $("#home_win_pct").text("Home team win percentage: "+response['home_win_pct']+'%')

            }
        })
    }

    function setDefaultAs35(){
        $("#a1").val('1781');
        updateTable(1781, 'row_a1');
        $("#a2").val('1063');
        updateTable(1063, 'row_a2');
        $("#a3").val('876');
        updateTable(876, 'row_a3');
        $("#a4").val('1357');
        updateTable(1357, 'row_a4');
        $("#a5").val('3328');
        updateTable(3328, 'row_a5');
        $("#a6").val('304');
        updateTable(304, 'row_a6');
        $("#a7").val('718');
        updateTable(718, 'row_a7');
        $("#a8").val('2043');
        updateTable(2043, 'row_a8');
        $("#a9").val('1319');
        updateTable(1319, 'row_a9');
        $("#a10").val('2019');
        updateTable('2019', 'row_a10');
        $("#a_p").val('484');
        $("#h1").val('3144');
        updateTable(3144, 'row_h1');
        $("#h2").val('592');
        updateTable(592, 'row_h2');
        $("#h3").val('1754');
        updateTable(1754, 'row_h3');
        $("#h4").val('690');
        updateTable(690, 'row_h4');
        $("#h5").val('3432');
        updateTable(3432, 'row_h5');
        $("#h6").val('275');
        updateTable(275, 'row_h6');
        $("#h7").val('3145');
        updateTable(3145, 'row_h7');
        $("#h8").val('995');
        updateTable(995, 'row_h8');
        $("#h9").val('1082');
        updateTable(1082, 'row_h9');
        $("#h10").val('360');
        updateTable(360, 'row_h10');
        $("#h_p").val('592');
        
    }
    
    // Function to update the table based on the selected PID
    function updateTable(pid, rowId) {
        const playerData = proj.filter(record => record.PID == pid)[0];
        const row = document.getElementById(rowId);

        // Clear existing data cells
        while (row.childElementCount > 2) {
            row.removeChild(row.lastChild);
        }

        if (playerData) {
            // Create and append new <td> elements
            const baCell = document.createElement('td');
            baCell.textContent = playerData.BA;
            row.appendChild(baCell);

            const obpCell = document.createElement('td');
            obpCell.textContent = playerData.OBP;
            row.appendChild(obpCell);

            const slgCell = document.createElement('td');
            slgCell.textContent = playerData.SLG;
            row.appendChild(slgCell);

            const opsCell = document.createElement('td');
            opsCell.textContent = playerData.OPS;
            row.appendChild(opsCell);
        }
    }

    
</script>

<form id="myForm" method="GET">
<div class="row">
    <div class="col-lg-2">
        <label for="org"><b>Org</b></label><br>
        <input type="radio" id="MABL" name="org" value="MABL" checked>MABL
        <input type="radio" id="RRL" name="org" value="RRL">RRL
        <input type="radio" id="MSCR" name="org" value="MSCR" disabled>MSCR<br>
        <br>
        
        <label for="lg"><b>League</b></label>
        <br>
        <input type="radio" name="lg" value="17" disabled>17+
        <input type="radio" name="lg" value="18">18+
        <input type="radio" name="lg" value="35" checked>35+
        <input type="radio" name="lg" value="45" disabled>45+
        <input type="radio" name="lg" value="55" disabled>55+<br>
        <input type="radio" name="lg" value="Southern">Southern
        <input type="radio" name="lg" value="Northern">Northern<br>
        <br>
        
        <label for="range"><b># of Simulations</b></label>
        <br><input type="range"name="sims" id="sims" min="1" max="1000" step="5" value="1"><br>
        
        <br><label for="innings"><b>Innings:</b></label>
        <input type="radio" name="innings" value="7" checked>7
        <input type="radio" name="innings" value="9">9
        <br><br><input type='button' id="As_35" value="Set Default Lineup" onclick="setDefaultAs35()">
        <br><br><input type="button" id="submit-sims" class="button btn-primary mt-2" value='Run Simulations' onclick="runSimulations()">

        <br><br><input type="button" id="submit-league-change" value='Change League' onclick="submitFormChangeLeague()">
    </div>
    <div class="col-lg-5" id="away_team">
        <h5>Away Team</h5>
        <table>
            <thead>
                <th>#</th>
                <th>Player</th>
                <th>BA</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>OPS</th>
            </thead>
            <tr id="row_a1">
                <td>1</td>
                <td>
                    <select id="a1">
                        <option value="0">Pick a player</option>
                    {% for key, val in plyrs.iterrows() %}
                        <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a2">
                <td>2</td>
                <td>
                    <select id="a2">
                        <option value="0">Pick a player</option>
                    {% for key, val in plyrs.iterrows() %}
                        <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a3">
                <td>3</td>
                <td>
                    <select id="a3">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a4">
                <td>4</td>
                <td>
                    <select id="a4">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a5">
                <td>5</td>
                <td>
                    <select id="a5">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a6">
                <td>6</td>
                <td>
                    <select id="a6">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a7">
                <td>7</td>
                <td>
                    <select id="a7">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a8">
                <td>8</td>
                <td>
                    <select id="a8">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a9">
                <td>9</td>
                <td>
                    <select id="a9">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_a10">
                <td>10</td>
                <td>
                    <select id="a10">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>P</td>
                <td>
                    <select id="a_p">
                        <option value="0">Pick a Pitcher</option>
                        {% for key, val in lg_pitchers.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-5" id="home_team">
        <h5>Home Team</h5>
        <table>
            <thead>
                <th>#</th>
                <th>Player</th>
                <th>BA</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>OPS</th>
            </thead>
            <tr id="row_h1">
                <td>1</td>
                <td>
                    <select id="h1">
                        <option value="0">Pick a player</option>
                    {% for key, val in plyrs.iterrows() %}
                        <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h2">
                <td>2</td>
                <td>
                    <select id="h2">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h3">
                <td>3</td>
                <td>
                    <select id="h3">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h4">
                <td>4</td>
                <td>
                    <select id="h4">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h5">
                <td>5</td>
                <td>
                    <select id="h5">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h6">
                <td>6</td>
                <td>
                    <select id="h6">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h7">
                <td>7</td>
                <td>
                    <select id="h7">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h8">
                <td>8</td>
                <td>
                    <select id="h8">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h9">
                <td>9</td>
                <td>
                    <select id="h9">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="row_h10">
                <td>10</td>
                <td>
                    <select id="h10">
                        <option value="0">Pick a player</option>
                        {% for key, val in plyrs.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }}, {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>P</td>
                <td>
                    <select id="h_p">
                        <option value="0">Pick a Pitcher</option>
                        {% for key, val in lg_pitchers.iterrows() %}
                            <option value="{{ val['PID'] }}">{{ val['Last'] }} {{ val['First'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
<div class="row">
    <div class="col-lg-4">
        <div id="ab_results">
            <p id="numOfSimsChosen"></p>
            <h5 id="score">{{ score }}</h5>
            <p id="home_win_pct">Home team win percentage: {{ home_win_pct }}%</p>
            <p id="awayBoxResults"></p>
            
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-4">
        <div id="game_log_away_side">
        </div>
    </div>
</div>
<script>
    // Attach event listener to the dropdown
    $(document).ready(function(){
        console.log('doc is ready')
        document.getElementById('away_team').addEventListener('change', function(event) {
            //console.log(event)
            //console.log(event.target.id, event.target.value)
            if (event.target && event.target.tagName === 'SELECT') {
                const selectedPID = event.target.value;
                const rowId = 'row_' + event.target.id;
                updateTable(selectedPID, rowId);
            }
        });
        
        document.getElementById('home_team').addEventListener('change', function(event) {
            if (event.target && event.target.tagName === 'SELECT') {
                const selectedPID = event.target.value;
                const rowId = 'row_' + event.target.id;
                updateTable(selectedPID, rowId);
            }
        });
    })
    


</script>

{% endblock %}