{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/{{ yr }}"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}
<script>
    var d = {{ df|safe }};
    //d = JSON.parse(d);
    let x = [];
    let y = [];
    let z = [];
    let t = [];
    d.forEach(val => x.push(val['RF']));
    d.forEach(val => y.push(val['RA']));
    d.forEach(val => z.push(val['W']));
    d.forEach(val => t.push(val['Team']));
    //Object.values(d).forEach(val => x.push(val));
    var data = [
        {
            y: x,
            x: y,
            mode: 'markers',
            type: 'scatter',
            name: 'Team',
            text: t,
            hoverinfo:'text',
            hovertempalte: "Team: %{text}",
            textposition: 'bottom center',
            marker: { size: z, sizemin: 3, sizeref: .2, 
                line: { color: "black", width: 3 }}
        }
    ];
    var layout = {
        title: "Wins by RF and RA",
        xaxis: {
            title: 'RA'
        },
        yaxis: { title: 'RF' },
    }
</script>
<div class="row">
    <div class="col-lg-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../home">Home</a></li>
            <li class="breadcrumb-item"><a href="/{{ org }}/{{ lg }}">{{ org }} {{ lg }}</a></li>
            <li class="breadcrumb-item active">Standings</li>
            <li class="breadcrumb-item active">
                <select id="year_pick" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    {% for y in yrs %}
                            <option value="/standings/{{ org }}/{{ lg }}/{{ y }}">{{ y }}</option>
                    {% endfor %}
                </select>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class='table table-condensed table-hover' id='myTable'>
            <tr>
                <th onclick="sortTable_alpha(0)" align='left'>Team</th>
                <th onclick="sortTable(1)">W</th>
                <th onclick="sortTable(2)">L</th>
                <th onclick="sortTable(3)">T</th>
                <th onclick="sortTable(4)">Pct</th>
                <th onclick="sortTable(5)">GB</th>
                <th onclick="sortTable(6)">RF</th>
                <th onclick="sortTable(7)">RA</th>
                <th onclick="sortTable(8)">Pyth</th>
                <th onclick="sortTable(9)">xWins</th>
                <th onclick="sortTable(10)">Champs</th>
            </tr>
                {% for key,val in st.iterrows() %}
                <tr align="center">
                    <td align='left'><a href="/stats/hitting/{{ org }}/{{ lg }}/{{ val['Team'] }}/{{ yr }}">{{ val['Team'] }}</a></td>
                    <td>{{ val['W'] }}</td>
                    <td>{{ val['L'] }}</td>
                    <td>{{ val['T'] }}</td>
                    <td>{{ val['Pct'] }}</td>
                    <td>{{ val['GB'] }}</td>
                    <td>{{ val['RF'] }}</td>
                    <td>{{ val['RA'] }}</td>
                    <td>{{ val['Pyth'] }}</td>
                    <td>{{ val['xW'] }}</td>
                    <td>{{ val['Postseason'] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id='myDiv'></div>
    </div>
</div>

<script>
    Plotly.newPlot('myDiv', data, layout);
    var url_string = window.location.href;
    var url = new URL(url_string);
     
    url = url.pathname.split("/");
    url = '/standings/{{ org }}/{{ lg }}/'+url[url.length-1]
    $('#year_pick').val(url);

</script>

{% endblock %}