{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2019"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block hitting_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block pitching_stats %}{{ org }}/{{ lg }}/league/{{ max_yr }}{% endblock %}}
{% block h_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block h_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_season %}{{ org }}/{{ lg }}{% endblock %}
{% block p_records_career %}{{ org }}/{{ lg }}{% endblock %}
{% block content %}

<ul class="breadcrumb">
    <li><a href="/{{ org }}">{{ org }}</a></li>
    <li><a href="/{{ org }}/{{ lg }}/">{{ lg }}</a></li>
</ul> 
<br />
<table class="no_stripes">
    <tr align="center">
        <th>Schedule</th>
        <th>Hitting</th>
        <th>Pitching</th>
    </tr>
    {% for yr in yrs %}
    <tr align="center">
        <td><a href="/schedule/list/{{ org }}/{{ lg }}/{{ tm }}/{{ yr }}">{{ yr }}</a></td>
        <td><a href="/stats/hitting/{{ org }}/{{ lg }}/{{ tm }}/{{ yr }}">{{ yr }}</a></td>
        <td><a href="/stats/pitching/{{ org }}/{{ lg }}/{{ tm }}/{{ yr }}">{{ yr }}</a></td>
    {% endfor %}
    </tr>
</table>
<br>
<a href="/stats/hitting/{{ org }}/{{ lg }}/{{ tm }}/projections">Hitting Projections</a><br>
<br>
{% endblock %}

