{% extends "header.html" %}
{% block title %}Clubhouse{% endblock %}
{% block standings %}"/standings/{{ org }}/{{ lg }}/2019"{% endblock %}
{% block champions %}"/{{ org }}/{{ lg }}/champions"{% endblock %}
{% block lg_stats %}"/{{ org }}/{{ lg }}/league/2019"{% endblock %}
{% block content %}
<a href="../../{{ org }}">{{ org }}</a> > <a href="../../{{ org }}/{{ lg }}">{{ lg }}</a> > {{ tm }}
<br /><br />
<table>
    <tr><th>Hitting</th><th>Pitching</th></tr>
{% for yr in yrs %}
<tr>
    <td><a href="/stats/hitting/player?org={{ org }}&lg={{ lg }}&tm={{ tm }}&yr={{ yr }}">{{ yr }}</a></td>
    <td><a href="/stats/pitching/player?org={{ org }}&lg={{ lg }}&tm={{ tm }}&yr={{ yr }}">{{ yr }}</a></td>
{% endfor %}
</tr>
<a href="/{{ org }}/{{ lg }}/{{ tm }}/projections">Projections</a><br>
<br>
{% endblock %}

